@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100&display=swap');
:root {
  font-family: 'Poppins', sans-serif;
  background-color: #2e2a24;
  color: #f9d094;
}
#title,
#content,
#module,
#footer,
#menubar {
  width: 100%;
  height: 100%;
}
#module,
#menubar {
  background-color: #fefcff;
  color: #2e2a24;
}
#title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 120px;
  text-shadow: 1px 1px 2px black;
  background: url(images/coffee_wide.jpg);
  background-size: 100%;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.item {
  border: 1px solid black;
  flex-basis: 200px;
}
.header {
  font-size: 24px;
}
#menubar ul li {
  display: inline-block;
}
#content {
  display: grid;
  grid-template-rows: 400px 50px auto 50px;
  grid-template-columns: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#menubar ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
#module {
  display: flex;
  flex-wrap: wrap;
}
